  <h1 class="h1"><%= @artist.name %></h1>

<section class="show">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @artist.image_url, class: "img-responsive" %>
    </div>
    <div class="col-md-6">
      <h3>About:</h3>
      <p ><%= @artist.bio %></p>
    </div>
  </div>

  <section class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Songs:</h3>
    </div>
    <div class="panel-body">
      <form action="">
        <table class="table borderless" id="table">
          <tr>
            <th>Song</th>
            <th>Album</th>
            <th>Released</th>
            <th></th>
          </tr>
          <% @songs.each do |song| %>
          <tr data-id="<%= song.id %>">
            <td><p><%= song.name %></p></td>
            <td><p><%= song.album %></p></td>
            <td><p><%= song.release_year %></p></td>
            <td><%= link_to "Delete", artist_song_path(@artist.id, song.id), class: "btn btn-default", id: "del-button" %></td>
          </tr>
          <% end %>
          <tr id="new-song-row">

              <td class="song-field"><input type="text" placeholder="Song name" class="form-control" id="song-name"></td>
              <td class="song-field"><input type="text" placeholder="Album" class="form-control" id="song-album"></td>
              <td class="song-field"><input type="text" placeholder="Release year" class="form-control" id="song-year"></td>
              <td class="song-field"><%= link_to "Add", new_artist_song_path(@artist), class: "btn btn-primary btn--incr-pad", id: "add-button", type: "submit" %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#" class="btn btn-danger" id="del-all-button">Delete All</a></td>
          </tr>
        </table>
      </form>
    </div>

  </section>

  <%= link_to "back", artists_path, class: "btn btn-default" %>
</section>
